.main {
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
  height: 100%;
  width: 100%;
  position: relative;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 0px;
  }
}

.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  @media screen and (min-width: 768px) {
    position: initial;
    width: initial;
  }
}
