.eventForm {
  width: 100%;
  height: 100%;
  background-color: var(--Neutral-White-White);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inputGroup {
  margin-bottom: 1.5rem;
  flex: 1;
}

.inputWrapper {
  position: relative;
}

.inputIcon {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--Neutral-Slate-500);
  width: 20px;
  height: 20px;
}

.input {
  width: 100%;
  padding: 0.5rem 0.75rem 0.5rem 2.5rem;
  border: 1px solid var(--Neutral-Slate-200);
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
  &:focus {
    outline: none;
    border: 1px solid var(--Neutral-Slate-500);
    box-shadow: 0 0 0 2px rgba(var(--Neutral-Slate-500), 0.2);
  }
}

.inputGroup label {
  font-size: 1rem;
  font-weight: 700;
  line-height: 17px;
  display: flex;
  align-items: center;
  gap: 1px;

  span {
    color: var(--Semantic-Red-500);
  }
}

.inputGroup textarea {
  width: 100%;
  padding: 0.5rem 0.75rem 0.5rem 2.5rem;
  border: 1px solid var(--Neutral-Slate-200);
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
  &:focus {
    outline: none;
    border: 1px solid var(--Neutral-Slate-500);
    box-shadow: 0 0 0 2px rgba(var(--Neutral-Slate-500), 0.2);
  }
}

.inputGroup select {
  width: 100%;
  padding: 0.5rem 0.75rem 0.5rem 2.5rem;
  border: 1px solid var(--Neutral-Slate-200);
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
  &:focus {
    outline: none;
    border: 1px solid var(--Neutral-Slate-500);
    box-shadow: 0 0 0 2px rgba(var(--Neutral-Slate-500), 0.2);
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--Neutral-White-White);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.explaination {
  font-size: 14px;
  font-weight: 500;
  color: var(--Neutral-Slate-600);
}
