:root {
  --Neutral-Grey-100: #f9fafb;
  --Neutral-Grey-200: #e5e7eb;
  --Neutral-Grey-300: #9ca3af;
  --Neutral-Grey-400: #6b7280;
  --Neutral-Grey-500: #1f2937;

  --Neutral-White: #fff;
  --Neutral-Black: #000;

  --Semantic-Blue: #3b82f6;
  --Semantic-Purple: #8b5cf6;
  --Semantic-Grey: #9ca3af;
  --Semantic-Red: #ef4444;
  --Semantic-Yellow: #f59e0b;
  --Semantic-Green: #10b981;
}
