@mixin desktop-title-xl {
  font-family: "Inter";
  font-size: 3.188rem;
  font-style: normal;
  font-weight: 300;
  line-height: 50px;
  letter-spacing: -2.04px;
}

@mixin desktop-title-l {
  font-family: "Inter";
  font-size: 2.375rem;
  font-style: normal;
  font-weight: 300;
  line-height: 38px;
  letter-spacing: -1.52px;
}

@mixin desktop-title-m {
  font-family: "Inter";
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: -1.2px;
}

@mixin desktop-title-s {
  font-family: "Inter";
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -1.04px;
}
@mixin desktop-title-xs {
  font-family: "Inter";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: -0.96px;
}

@mixin desktop-title-xxs {
  font-family: "Inter";
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.44px;
}

@mixin mobile-title-xl {
  font-family: "Inter";
  font-size: 2.688rem;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: -1.72px;
}

@mixin mobile-title-l {
  font-family: "Inter";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 34px;
  letter-spacing: -1.44px;
}

@mixin mobile-title-m {
  font-family: "Inter";
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: -1.2px;
}

@mixin mobile-title-s {
  font-family: "Inter";
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: -1.04px;
}
@mixin mobile-title-xs {
  font-family: "Inter";
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.88px;
}

@mixin mobile-title-xxs {
  font-family: "Inter";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: -0.4px;
}

@mixin text-l {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

@mixin text-m {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@mixin text-s {
  font-family: "Inter", sans-serif;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

@mixin text-xs {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
@mixin text-xxs {
  font-family: "Inter", sans-serif;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

@mixin overline-l {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
@mixin overline-m {
  font-family: "Inter", sans-serif;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

@mixin overline-s {
  font-family: "Inter", sans-serif;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@mixin overline-xs {
  font-family: "Inter", sans-serif;
  font-size: 0.563rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

@mixin shadowImg {
  border-radius: 8px;
  box-shadow:
    0px 0px 0px 1px #e4e4e4,
    0px 0px 0px 6px #fff,
    0px 4px 20px 0px rgba(0, 0, 0, 0.16);
}

@mixin shadowHover {
  box-shadow:
    0px 0px 0px 1px #e4e4e4,
    0px 0px 0px 6px #fff,
    0px 0px 0px 1px #e4e4e4,
    0px 0px 0px 6px #fff,
    0px 8px 32px 0px rgba(0, 0, 0, 0.2);
}
