$lapis-lazuli: #22577a;
$verdigris: #38a3a5;
$emerald: #57cc99;
$light-green: #80ed99;
$tea-green: #c7f9cc;

.main {
  width: 100%;
  background-color: $tea-green;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  background-color: $verdigris;

  .selection {
    width: 250px;
    height: 50px;
    background-color: $emerald;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    color: $lapis-lazuli;

    &:hover {
      background-color: $light-green;
    }
  }

  .active {
    @extend .selection;

    background-color: rgba($light-green, 0.9);
  }
}
