.m-tag {
  border: 1px solid var(--Neutral-Grey-300, #d3d3d2);
  padding: 4px 6px;
  gap: 8px;
  border-radius: 8px;
  border-radius: 4px;
  width: fit-content;
  color: var(--Neutral-Grey-800, #474746);

  &--home {
    color: var(--Neutral-White-1000, #fff);
    border: 1px solid var(--Neutral-White-300, rgba(255, 255, 255, 0.3));
  }
}
